town: Town07

dataset_config:
  scenario: "rural_intersection"
  scenario_abbreviation: "ri"

world:
  seed: 6 # seed for numpy and random
  seed_traffic: 1 # seed for traffic
  weather:
    mie_scattering_scale: 0  # refers to air pollution and how light is influenced by it

scenario:
  num_vehicles: 2 # Number of vehicles per spawn point range (8 spawn point ranges are used)
  num_walkers: 12 # Total number of pedestrians spawned
  walker_crossing_factor: 0.05 # Percentage of pedestrians that will cross the street [0,1]
  rsu_list:
    - name: rsu1
      spawn_position: [-4.62, -12.8, 6.42, 0.0, 86.13, -25] # x, y, z, roll, yaw, pitch
      id: -1
      wall_facing: False
      sensing:
        perception:
          lidar:
            upper_fov: -1
    - name: rsu2
      spawn_position: [59.01, -2.99, 6.36, 0.0, 177.35, -25] # x, y, z, roll, yaw, pitch
      id: -2
      wall_facing: True # This RSU doesn't face a wall, but it faces a grassy area with no relevant traffic info
      sensing:
        perception:
          lidar:
            upper_fov: -1

  single_cav_list:
    - name: cav1
      spawn_position: [-2.37, 47.70, 0.15, 0, -89.36, 0] # x, y, z, roll, yaw, pitch
      destination: [-62.17, -2.85, 0.15] # x, y, z
    - name: cav2
      spawn_position: [-53.76, 1.22, 0.15, 0.0, -1.16, 0] # x, y, z, roll, yaw, pitch
      destination: [62.38, -137.77, 9.55] # x, y, z
    - name: cav3
      spawn_position: [-4.48, -100.11, 0.15, 0.0, 89.58, 0] # x, y, z, roll, yaw, pitch
      destination: [-135.79, 112.4, 0.15] # x, y, z

  traffic_lights:
    active_light_id: 1
    active_light_state: "g"  #'y', 'r' or 'g', not case-sensitive. Check TrafficLightManager for further info
    initial_active_frame_counter: 100
    times:
      green: 16 # Longer green time

vehicle_base:
  behavior:
    max_speed: 30
    tailgate_speed: 35

carla_traffic_manager:
  global_speed_perc: 0

blueprint:
  bp_meta_path: "blueprints_rural.json"
  bp_class_sample_prob:
    car: 0.50
    van: 0.18
    truck: 0.16
    bicycle: 0.08
    motorcycle: 0.08
